j114-formulario-raul-spring/src/com/atrium/vista/datos.dtd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<!ELEMENT datos_formulario (fecha,autor,formulario) >
<!ELEMENT fecha (#PCDATA) >
<!ELEMENT autor (#PCDATA) >
<!ELEMENT formulario (nombre,apellido,calle,ciudad)>
<!ELEMENT nombre (#PCDATA) >
<!ELEMENT apellido (#PCDATA) >
<!ELEMENT calle (#PCDATA) >
<!ELEMENT ciudad (#PCDATA) >